@font-face {
    font-family: '粉圓';
    src: url('/gogoyu/static/font/jf-openhuninn-2.0.ttf');
    font-display: swap;
}
:root {
    --ifm-font-family-base: "粉圓";
}
nav {
    display: flex;

}

nav a.word {
    -webkit-text-stroke: 1px black;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a.word:hover {
    color: rgb(252, 217, 188);
    text-decoration: none;
}

.head_btn {
    border: none;
}

a.profile:hover {
    background-color: transparent;
}

.msg {
  
    border: 1px solid black;
    width: 20vw;
    height: calc(100vh - 55px);
    display: none;
}

.info {

    border: 1px solid black;
    width: 20vw;
    height: 30vh;
    display: none;
}

.shop {
    border: 1px solid black;
    width: 40vw;
    height: 50vh;
    display: none;
}

.all_side {
    position: absolute;
    top: 55px;
    right: 0px;
    background-color: white;
    overflow-y: scroll;
    z-index: 3;
}

div.head {
    display: flex;
    position: absolute;
    right: 10px;
    height: 50px;
    align-items: center;
}

div.head>button {
    margin-right: 5px;
    width: 50px;
    height: 40px;
    border-radius: 25px;
    background-color: white;
    /* flex-basis: 100px; */
}
#key{
    width: 130px;
    margin-left: 20px;
    background-color: #FCC416;
    color: black;
}
#sign{
    color: black;
    font-size: 20px;
}
nav.st {
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 3;
    height: 55px;
    padding-bottom: 10px;
    border-bottom: #FCC416 solid 2px;
}


.on {
    display: block;
}

.left {
    width: 265px;
    position: absolute;
    top: 105px;
    left: 60px;
    display: flex;
    flex-direction: column;
    z-index: 3;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

div>a.left_btn {
    display: inline-block;
    border: none;
    font-size: 20px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    /* font-family: "粉圓"; */
    font-weight: bold;
    color: black;
    background-color: white;
    text-align: center;
    text-decoration: none;
}


.main-content {
    min-height: calc(100vh - 55px);
    background-color: #F3F3F3; 
    position: relative;
    max-height:fit-content;

}

.main-content-info {
    position: relative;
    left: 360px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: "粉圓";
    font-size: 20px;
    width: calc(100% - 360px - 70px);
    color: black;
}
.one-room{
    padding: 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.one-room>*{
    position: relative;
}
.do{
    float: right;
}
.do>*{
    margin-left: 15px;
    margin-right: 5px;
}
.below-btn>*{
    border: none;
    /* border: 1px solid #FCC416; */
    background-color:#4D504F;
    color: white;
    border-radius: 5px;
    padding: 5px 15px;
}
.below-btn>a{
	color: white;
}
.main-content-info>button {
    position: relative;
    top: 100px;
    left: -50px;
    border: none;
    margin-left: 10px;
    margin-right: 10px;
}

.main-content-info>* {
    margin-bottom: 20px;
}

.title{
    padding-top: 10px;
    margin-top: 0px;
}

.d{
    font-size: 40px;
    font-weight: 100;
    margin-left: 0.5%;
    margin-right: 0.5%;
    color: black;
}
.change{
    color: black;
}

.delete{
    border: none;
    color: black;
    background-color: transparent;
}
#shell{
    height: 10px;
    background-color: #F3F3F3; 
    position: absolute;
    z-index:1;
    top: 55px;width: 100%;
}

.below-btn{
    display:flex;
    justify-content:flex-end;
    flex-grow: 1;
}
.below-btn>*{
    margin-left: 5px;
    text-decoration:solid;
}

.room-info{
    font-size: 16px;
    position: relative;
    top: -3px;
    display: inline-block;
    width: 170px;
}

.all-info{
    display: flex;
    align-items:end;
}

a.left_btn:hover {
    color: #ffbf1c;
}



.new{
	display:block;
    text-align: center;
    border:1px solid black;
    margin-bottom: 1px;
    background-color:#4D504F;
    color: white;
}

.new>button{
    width: 100%;
}
.alert{
    position: relative;
    top: 10vh;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    width: 80vw;
    height: 80vh;
    z-index: 3;
    text-align: center;
    display: none;
}
.alert>*{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.alert_bg{
    width: 100vw;
    height: 100vh;
    position:fixed;
    top:0px;
    left: 0px;
    z-index: 3;
    background-color: #000000a6;
    display: none;
}
.other-btn{
	display: inline-block;
    border: none;
    background-color: #4D504F;
    border-radius: 5px;
    color: white;
    padding: 5px 10px;
}
.on{
    display: block !important; 
}
.title{
    padding-top: 10px;
    margin-top: 0px;
}   

.stop{
    overflow-y: auto;
}
.room-status-on{
	display:inline-block;
	border-radius: 30px;
    color: white;
    background-color: orange;
/*     background-color: #FCC416; */
    padding-left: 10px;
    padding-right: 10px;
}
.room-status-off{
	display:inline-block;
	border-radius: 30px;
    color: white;
    filter: opacity(0.5);
    background-color: grey;
    padding-left: 10px;
    padding-right: 10px;
}