
*{
    box-sizing: border-box ;
}

@font-face {
    font-family: '蝎���';
    src: url('../font/jf-openhuninn-2.0.ttf');
    font-display: swap;
}
:root {
    --ifm-font-family-base: '蝎���';
}


/* �游��銵函��獢�start */
.outside_div{
    /* 撠��游��憭扯”蝵格�澆���港葉��銝虫�瘞游像���� */
    display: flex;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 1;
    font-family: "蝎���";
    /* 撠��游��憭扯”蝵格�澆���港葉��銝虫�瘞游像���� */
    box-shadow: 20px 20px 20px 0px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 50%;/* 隤踵�游之獢�撖砍漲�箸�游��html��50% */
    height: 90%;/* 隤踵�游之獢�擃�摨行�游��html��80% */ 
    border-radius: 5px;   
    backdrop-filter: blur(10px); /* 瘛餃��璅∠����� */
    background: rgba(255, 255, 255, 0.5); /*瘛餃������摨�*/
}
/* �游��銵函��獢�end */





/* 憭扯”獢�鋆⊿�Ｙ��"撌�"獢� start*/
.inside_left_div{
    width:60%;/* 隤踵�游椰��獢�撖砍漲"�游��銵函��獢�"��40% */ 
    height: 100%;/* 隤踵�游椰��獢�擃�摨�"�游��銵函��獢�"��100% */
    border-bottom-left-radius: 5px; /*�芣����獢�撌血�湔����閫�摨�*/
    border-right: 2px solid lightgray;/*�芣����獢��喲����蝺�*/
   
}
/* 憭扯”獢�鋆⊿�Ｙ��"撌�"獢� end*/






/* 憭扯”獢�鋆⊿�Ｙ��"��"獢� start*/
.inside_right_div{
    width: 40%;/* 隤踵�游椰��獢�撖砍漲"�游��銵函��獢�"��60% */ 
    height:100%;/* 隤踵�游椰��獢�擃�摨�"�游��銵函��獢�"��100% */
    border-radius: auto; /*�芣����獢�撌血�湔����閫�摨�*/
/*     background-color: lightskyblue; */
    /* display: flex; */
    /* flex-direction: column;  */
    
}

/* 憭扯”獢�鋆⊿�Ｙ��"��"獢� end*/

div.inside_right_div span.pay_button{
    margin-top: 1000px;
    margin-left: 20px;
    
}



/* 隞�甈暹����瘨������� */
button.payment-button , button.Cancel-button{
    position: relative;
    bottom:8px;
    left: 70px;
    border-radius: 5px;
    margin: 7px;
    height: 50px;
    width: 100px;
    background-color: blue;
    color: white;
}


/* 皛�曌�蝘餉�豚utton摮������� */
button.payment-button:hover{
  color:lightyellow;
}




/* �寞�� */
div.inside_right_div div.order-item div.order_item_price label.price{
    position: absolute;
    top: 20px;
    left: 80px;
    font-size: 20px;
    text-decoration: underline;
}

/* �剝�� */
div.inside_right_div div.order-item div.order_item_price label.commission{
    position: absolute;
    top: 20px;
    left: 80px;
    font-size: 20px;
    text-decoration: underline;
}

/* 蝮賢�寞�� */
div.inside_right_div div.order-item div.order_item_price label.totalPrice{
    position: absolute;
    top: 20px;
    left: 80px;
    font-size: 20px;
    text-decoration: underline;
}


/* 100(��憿�) */
div.inside_right_div div.order-item div.order_item_price label.right_label2{
    position: absolute;
    bottom: 0px;
    right: 5%;
    font-size: 30px;
}

/* 100(��憿�)頝��寞�潛��憭吳iv */
div.inside_right_div div.order-item div.order_item_price{
    position: relative;
    height: 100px;
}












 /* ���航�瘚芸��   start */
 body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

img.fullscreen {
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: 0; /* 閮剔蔭������z-index��0嚗�雿踹�嗅�典�嗡���蝝�銝��� */
}
/* ���航�瘚芸��    end*/




.inside_left_div form .order-item{
 /* position: absolute; */
 margin: 7px;
 width: 50%;
 font-size: 18px;
 }


.payment-title{
    font-weight: bold;
    color:black; /* 霈曄蔭摮�雿�憸��� */
    margin: 20%;
    font-size: 30px; 
}




/* orderitem鋆⊿�Ｗ��亙�批捆�瑕漲 */
div.outside_div div.inside_left_div form div.order-details div.order-item{

    width: 100%;
}

div.order-details{
	height :100%;
	font-size : 17px;
	
}




.inside_right_div div .order-item{
   height: 800px;
   text-align: right;
}





