
*{
    box-sizing: border-box ;
}

@font-face {
    font-family: '��嚙踝蕭嚙�';
    src: url('../font/jf-openhuninn-2.0.ttf');
    font-display: swap;
}
:root {
    --ifm-font-family-base: '��嚙踝蕭嚙�';
}


/* 嚙賣虜嚙踝蕭�萄�踝蕭嚙賜�ｇ蕭start */
.outside_div{
    /* ��嚙踝蕭皜賂蕭嚙賣�剜�胼���菜�潘蕭瞉�嚙踝蕭嚙賣葛��嚙踝蕭���恬蕭��皜詨��嚙踝蕭嚙踝蕭 */
    display: flex;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 1;
    font-family: "��嚙踝蕭嚙�";
    /* ��嚙踝蕭皜賂蕭嚙賣�剜�胼���菜�潘蕭瞉�嚙踝蕭嚙賣葛��嚙踝蕭���恬蕭��皜詨��嚙踝蕭嚙踝蕭 */
    box-shadow: 20px 20px 20px 0px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 50%;/* �方葭嚙賣虜銋��ｇ蕭����瞍莎蕭蝞賂蕭皜賂蕭嚙篁tml嚙踝蕭50% */
    height: 90%;/* �方葭嚙賣虜銋��ｇ蕭��嚙賣�刻�嚙賣虜嚙踝蕭html嚙踝蕭80% */ 
    border-radius: 5px;   
    backdrop-filter: blur(10px); /* ��擗�嚙踝蕭����嚙踝蕭嚙踝蕭嚙� */
    background: rgba(255, 255, 255, 0.5); /*��擗�嚙踝蕭嚙踝蕭嚙踝蕭�剁蕭*/
}
/* 嚙賣虜嚙踝蕭�萄�踝蕭嚙賜�ｇ蕭end */





/* �剜�胼���ｇ蕭���選蕭嚗對蕭嚙�"��嚙�"�ｇ蕭 start*/
.inside_left_div{
    width:60%;/* �方葭嚙賣虜璊堆蕭嚙賜�ｇ蕭����瞍�"嚙賣虜嚙踝蕭�萄�踝蕭嚙賜�ｇ蕭"嚙踝蕭40% */ 
    height: 100%;/* �方葭嚙賣虜璊堆蕭嚙賜�ｇ蕭��嚙賣�剁蕭"嚙賣虜嚙踝蕭�萄�踝蕭嚙賜�ｇ蕭"嚙踝蕭100% */
    border-bottom-left-radius: 5px; /*嚙質��嚙踝蕭嚙踝蕭�ｇ蕭��銵�嚙賣�嚙踝蕭嚙踝蕭�恬蕭�剁蕭*/
    border-right: 2px solid lightgray;/*嚙質��嚙踝蕭嚙踝蕭�ｇ蕭嚙賢�莎蕭嚙踝蕭嚙質�綽蕭*/
   
}
/* �剜�胼���ｇ蕭���選蕭嚗對蕭嚙�"��嚙�"�ｇ蕭 end*/






/* �剜�胼���ｇ蕭���選蕭嚗對蕭嚙�"嚙踝蕭"�ｇ蕭 start*/
.inside_right_div{
    width: 40%;/* �方葭嚙賣虜璊堆蕭嚙賜�ｇ蕭����瞍�"嚙賣虜嚙踝蕭�萄�踝蕭嚙賜�ｇ蕭"嚙踝蕭60% */ 
    height:100%;/* �方葭嚙賣虜璊堆蕭嚙賜�ｇ蕭��嚙賣�剁蕭"嚙賣虜嚙踝蕭�萄�踝蕭嚙賜�ｇ蕭"嚙踝蕭100% */
    border-radius: auto; /*嚙質��嚙踝蕭嚙踝蕭�ｇ蕭��銵�嚙賣�嚙踝蕭嚙踝蕭�恬蕭�剁蕭*/
/*     background-color: lightskyblue; */
    /* display: flex; */
    /* flex-direction: column;  */
    
}

/* �剜�胼���ｇ蕭���選蕭嚗對蕭嚙�"嚙踝蕭"�ｇ蕭 end*/

div.inside_right_div span.pay_button{
    margin-top: 1000px;
    margin-left: 20px;
    
}



/* ��嚙賜���對蕭嚙踝蕭嚙賜�剁蕭嚙踝蕭嚙踝蕭嚙踝蕭 */
button.payment-button , button.Cancel-button{
    position: relative;
    bottom:8px;
    left: 70px;
    border-radius: 5px;
    margin: 7px;
    height: 50px;
    width: 100px;
    background-color: blue;
    color: white;
}


/* ��嚙賣��嚙質��擗�嚙質�utton�殷蕭嚙踝蕭嚙踝蕭嚙踝蕭 */
button.payment-button:hover{
  color:lightyellow;
}




/* 嚙賢�嚙踝蕭 */
div.inside_right_div div.order-item div.order_item_price label.price{
    position: absolute;
    top: 20px;
    left: 80px;
    font-size: 20px;
    text-decoration: underline;
}

/* 嚙賢��嚙踝蕭 */
/* div.inside_right_div div.order-item div.order_item_price label.commission{ */
/*     position: absolute; */
/*     top: 20px; */
/*     left: 80px; */
/*     font-size: 20px; */
/*     text-decoration: underline; */
/* } */

/* �株郭嚙賢�嚙踝蕭 */
div.inside_right_div div.order-item div.order_item_price label.totalPrice{
    position: absolute;
/*     top: 20px; */
    left: 10%;
/*     font-size: 20px; */
    text-decoration: underline;
}


/* 100(嚙踝蕭�選蕭) */
div.inside_right_div div.order-item div.order_item_price label.right_label2{
    position: absolute;
    bottom: 0px;
    right: 5%;
    font-size: 30px;
}

/* 100(嚙踝蕭�選蕭)��嚙踝蕭撖�嚙賣�嚙踝蕭�剖�赧v */
div.inside_right_div div.order-item div.order_item_price{
    position: relative;
    height: 100px;
}












 /* 嚙踝蕭嚙質�迎蕭���賂蕭嚙�   start */
 body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

img.fullscreen {
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: 0; /* �桀���哨蕭嚙踝蕭嚙踝蕭嚙緲-index嚙踝蕭0��嚙賡�輯號嚙賢��嚙賢�賂蕭�∴蕭嚙踝蕭��嚙賡��嚙踝蕭嚙� */
}
/* 嚙踝蕭嚙質�迎蕭���賂蕭嚙�    end*/




.inside_left_div form .order-item{
 /* position: absolute; */
 margin: 7px;
 width: 50%;
 font-size: 18px;
 }


.payment-title{
    font-weight: bold;
    color:black; /* �����剜�殷蕭�選蕭�賂蕭嚙踝蕭 */
    margin: 20%;
    font-size: 30px; 
}




/* orderitem���選蕭嚗瘀蕭嚙賭�嚙賣�寞��嚙賜��瞍� */
div.outside_div div.inside_left_div form div.order-details div.order-item{

    width: 100%;
}

div.order-details{
	height :100%;
	font-size : 17px;
	
}




.inside_right_div div .order-item{
   height: 800px;
   text-align: right;
}





