@charset "UTF-8";


*{
    box-sizing: border-box ;
}

@font-face {
    font-family: '粉圓';
    src: url('../font/jf-openhuninn-2.0.ttf');
    font-display: swap;
}
:root {
    --ifm-font-family-base: "粉圓";
}

a.logo{
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    border-radius: 35px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    /* -webkit-text-stroke: 1px black; */
}
.outside_div{
    display: flex;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 1;
    font-family: "蝎���";
    box-shadow: 20px 20px 20px 0px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 30%;
    height: 95%;
    border-radius: 5px;   
    backdrop-filter: blur(10px); 
    background: rgba(255, 255, 255, 0.5); 
}

.inside_left_div{
    width:100%;
    height: 100%;
    border-bottom-left-radius: 5px; 
    border-right: 2px solid lightgray;
   
}



 body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

img.fullscreen {
/*     object-fit: cover; */
    width: 100%;
    height: 100%;
    z-index: 0; 
}



.inside_left_div form .order-item{
 /* position: absolute; */
 margin: 7px;
 width: 50%;
 font-size: 18px;
 }


.payment-title{
    font-weight: bold;
    color:black; 
    margin: 20%;
    font-size: 30px; 
}


div.outside_div div.inside_left_div form div.order-details div.order-item{
    width: 100%;
}






.inside_right_div div .order-item{
   height: 800px;
   text-align: right;
}


div.checkedBtn{
	position:relative;
	display : flex;
	top :10px;
	margin-left : 90px;
}

div.checkedBtn  button{
	width : 80px;
	background-color: lightblue;
	font-family: "蝎���";
	margin-left : 10px;
}



